

a{
text-decoration:none;
color:red;
}
/*.parg {
	font-size: 16px; 
	font-family:Inknut Antiqua, serif;
	text-align: center; 
	color:red;
	width: 350px;
	position:relative;
	margin: -49px 1px 55px 472px;
	}	
	*/
	.peter1{
		font-size:19px;
		width:350px;
		font-family:Inknut Antiqua, serif;
		text-align:center;
	
		text-align:center;
		border-radius:20px;
		border:6px solid red;
		margin: 51px 70px 20px 444px;
	}
	.peter1:hover {
		background-color:seashell;
		}
	
	.firstp{
		font-size:16px;
		width:350px;
		font-family:Inknut Antiqua, serif;
		text-align:center;
		background-color:transparent;
		text-align:center;
		border-radius:20px;
		border:6px solid red;
		margin: 18px 70px 20px 0px;
		position:
	}
	.firstp:hover {
		background-color:seashell;
		}
	
	.secondp{
		font-size:16px;
		width:350px;
		font-family:Inknut Antiqua, serif;
		text-align:center;
		background-color:transparent;
		text-align:center;
		border-radius:20px;
		border:6px solid red;
		margin: -153px 70px 20px 408px;
		position:
	}
	
	.secondp:hover {
		background-color:seashell;
		}
	.thirdp{
		font-size:16px;
		width:350px;
		font-family:Inknut Antiqua, serif;
		text-align:center;
		background-color:transparent;
		text-align:center;
		border-radius:20px;
		border:6px solid red;
		margin: -195px 70px 20px 845px;
		position:
	}
	.thirdp:hover {
		background-color:seashell;
		}
	body {
			
			background-size:cover;
			background:url("https://c2.staticflickr.com/4/3801/9732482747_96c83d0cc7_h.jpg"), none;
			background-repeat: no-repeat;
			text-align:center;
			color:red;
			}
			
	/*ul li{
		margin:-55px 0px 0px 0px;
		display: inline-block;
		width:350px;
		position:relative;
		font-size:16px;
		font-family:Inknut Antiqua, serif;
		
		}*/
	h1{
    font-size:75px;
	font-family:Inknut Antiqua, serif;
	 padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin:-55px 0px 0px 0px;
	}
	
	
	img {
      margin:53px 35px 0px 0px;
      border: 6px dotted rosybrown;
      border-radius: 20px;
    }

	.mainphoto{
	margin:-55px 0px 0px 0px;
	}
/*div {
	display: inline-block;
	margin-left: 5px;
	height:100px;
	width:100px;
	border-radius:100%;
	border:2px solid black;
	}*/
	
/*.ball1{
	
	border:6px inset rosybrown; 
	background-image: url('https://c1.staticflickr.com/9/8513/8544934336_60efe6bbcc_s.jpg');
	margin:auto;
   width:75px;
  height:75px; 
  border-radius:0;
  border-radius:20% 20% 20% 20%;
  margin: 18px -7px 148px -319px;
  position: absolute;
  padding:10px;
  float:right;
  clear:both;
  /*box-shadow:inset 17px 7px 10px @gps-burg; 
  -webkit-transform-origin: bottom center;*/
	
}*/
/*.ball2{
	border:6px inset rosybrown;
	background-color: #0000FF;
	background-image: url('https://c1.staticflickr.com/3/2396/1906662004_7a32214d77_s.jpg');
	padding:10px;
	width:75px;
  height:75px; 
  border-radius:0;
  border-radius:20%;
	
	
	
	position:absolute;
	margin:20px 10px 10px 43px;
	clear:both;
	}
.ball3{
	border:6px inset rosybrown;
	padding:10px;
	background-color: #FFD700;
		background-image: url('https://c2.staticflickr.com/6/5123/5261389796_bcb6270ff0_s.jpg');
		
		width:75px;
  height:75px; 
  border-radius:0;
  border-radius:20% 20% 20% 20%;
		
	position:absolute;
	clear:both;
	margin:164px -80px 10px -138px;
	}
.*/
	
	.firstp{
	
	}
	